<div class="container">
  <h1>🐞 Bug Generator</h1>

  <p>今日のあなたのバグ</p>

  <div class="error-box <%= 'rare' if @rare %>">
    <%= @bug %>
  </div>

  <div class="buttons">
    <%= button_to "もう一回バグる", root_path, method: :get, class: "bug-btn" %>

    <a
      href="https://twitter.com/intent/tweet?text=<%= ERB::Util.url_encode(@share_text) %>&url=<%= ERB::Util.url_encode(@share_url) %>"
      target="_blank"
      rel="noopener"
      class="share-btn"
    >
      ✕ バグを投稿
    </a>
  </div>
</div>
